.wrapper {
  padding: 30px 30px;
}

.mainHeadline {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

.descriptionMain {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid $grey-border;
}

.videoSection {
  max-width: 640px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $grey-border;
}

.videoWrapper {
  overflow: hidden;
  width: 100%;
  max-width: 640px;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.videoHeading {
  margin-bottom: 24px;

  h3 {
    font-size: 18px;
    margin: 0 0 6px;
  }

  .videoDescription {
    font-size: 14px;
    line-height: 22px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mainHeadline {
    font-size: 18px;
    margin-top: 0;
  }

  .descriptionMain {
    margin-bottom: 18px;
  }
}
