.wrapper {
  margin: 0 auto;
}

.formStatusWrapper {
  padding: 10px 0 0;
}

.fieldsWrapper {
  margin-bottom: 36px;
}

.formField {
  margin-bottom: 15px;
}

.descriptionFieldsWrapper {
  background: $dark-5;
  margin: 0 0 30px;
  box-sizing: border-box;
  padding: 16px 30px 6px;

  textarea {
    height: 80px;
  }
}

.descriptionFields {
  max-width: 500px;
}

.questionnaireDescriptionHeading {
  margin: 0 0 8px;
  font-size: 16px;
}

.fieldsArrayWrapper {
  margin-bottom: 30px;
}

.fieldsArrayItem {
  max-width: 500px;
  border-bottom: 1px solid $grey-border;
  margin-bottom: 10px;
  padding-bottom: 12px;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.questionText {
  height: 80px;
}

.questionHeadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px;
  font-size: 16px;
}

.deleteWrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 6px;
  transform: translate(0, 1px);
  color: $red;
  opacity: .7;
  transition: color .15s ease-in-out, opacity .15s ease-in-out;
  margin-left: 6px;

  span {
    text-decoration: underline;
  }

  &:hover {
    opacity: 1;

    span {
      text-decoration: none;
    }
  }
}

.deleteIcon {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 4px;

  svg {
    width: 15px;
    fill: $red;
  }
}

.controlWrapper {
  border-top: 1px solid $grey-border;
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.formStatus {
  margin-left: 12px;
}
