.section {
  display: flex;
  justify-content: center;
  padding: 70px 0 100px;
  text-align: center;
  position: relative;
  background: $white;
  color: $black;

  &.white {
    background: $white;
  }

  &.grey {
    background: #4d4d4d;
    color: $white;
  }

  &.black {
    background: $black;
    color: $white;
  }

  &.flatten {
    text-align: left;
  }
}

.transactionDetailsLetter {
  text-align: left;
}

.demarcation {
  display: block;
  width: 100%;
  height: 33px;
  background-image: url('images/demarcation-multicolors.png');
  background-repeat: no-repeat;
  background-size: 700px 22px;
  background-position: center center;
  position: absolute;
  bottom: 0;

  &.red {
    background-image: url('images/demarcation-red.png');
  }

  &.orange {
    background-image: url('images/demarcation-orange.png');
  }

  &.blue {
    background-image: url('images/demarcation-blue.png');
  }

  &.green {
    background-image: url('images/demarcation-green.png');
    bottom: 40px;
  }
}

.sectionContainer {
  max-width: 900px;

  &.flatten {
    text-align: left;

    h3 {
      text-align: center;
    }
  }
}

.sectionContent {
  width: 100%;
  text-align: left;
  display: flex;
  padding: 0 30px;
  box-sizing: border-box;

  &.leftImage {
    flex-direction: row-reverse;

    .sectionContentImageWrapper {
      margin-left: 0;
      margin-right: 30px;
    }
  }
}

.sectionContentText {
  flex: 1;
  font-size: 15px;
  line-height: 26px;
}

.sectionContentImageWrapper {
  flex: 0 0 150px;
  margin-left: 30px;
}

.sectionContentImage {
  width: 150px;
}

.video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}

.topSection {
  color: $black;
  background-size: cover;
  background-position: center center;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 150px);
  max-height: 900px;
}

.topSectionOverlayVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.topSectionOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
}

.topSectionWrapper {
  position: relative;
  z-index: 2;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoWrapper {
  background: $white;
  text-align: center;
}

.logoWrapper {
  padding: 100px 0 120px;
  position: relative;
}

.logo {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto 50px;
}

.topSectionDescriptionBig {
  font-size: 24px;
  line-height: 30px;
  padding: 10px 0 30px;
  max-width: 620px;
  font-weight: 300;

  strong {
    font-weight: 600;
  }
}

.topSectionDescription {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px 0 40px;
  max-width: 700px;

  strong {
    font-weight: 600;
  }
}

.headline {
  font-size: 36px;
  margin: 0;
  padding-bottom: 30px;
}

.subHeadline {
  font-size: 20px;
  margin: 0 0 6px;
}

.sectionDescription {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 30px;

  &.orange {
    color: $maincolor-lt;
  }

  &.blue {
    color: $blue;
  }
}

.sectionText {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 24px;
}

.headingSection {
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    max-width: 500px;
    width: 100%;
    transform: translate(-50%, 0);
    border-bottom: 1px solid $grey-border;
  }

  &.red {
    color: $redMain;
  }

  &.orange {
    color: $maincolor-lt;
  }

  &.blue {
    color: $blue;
  }

  &.green {
    color: $greenMain;
  }
}

@media (max-width: 992px) {
  .topSectionOverlayVideo {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 180px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .topSectionDescriptionBig {
    font-size: 18px;
  }

  .topSectionDescription {
    font-size: 15px;
  }

  .section {
    padding: 40px 0 60px;
  }

  .headline {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .sectionDescription {
    padding-bottom: 0;
  }

  .headingSection {
    padding: 0 15px 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  .sectionContent {
    padding: 0 15px;
    align-items: center;
    flex-direction: column-reverse;

    &.leftImage {
      flex-direction: column-reverse;
    }

    &.topSectionWrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .sectionContentImageWrapper {
    margin: 0 0 30px !important;
  }

  .demarcation {
    &.green {
      bottom: 18px;
    }
  }
}
