.wrapper {
  width: 100%;
  background: $maincolor-dark;
  color: $white;
  height: 70px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 30px;
}

@media (max-width: 1350px) {
  .wrapper {
    height: 112px;
  }
}

@media (max-width: 870px) {
  .wrapper {
    height: 136px;
  }
}

@media (max-width: 720px) {
  .wrapper {
    height: 160px;
  }
}

@media (max-width: 600px) {
  padding: 0 15px;
}

@media (max-width: 500px) {
  .wrapper {
    height: 250px;
  }
}
