.wrapper {
  text-align: center;
  margin: 0 auto;
}

.formStatusWrapper {
  padding: 10px 0 0;
}

.fieldsWrapper {
  margin-bottom: 36px;
}

.formField {
  margin-bottom: 20px;
}

.forgotPasswordWrapper {
  display: flex;
  flex-wrap: wrap;
  line-height: 24px;
  padding-top: 12px;
  justify-content: center;
}

.forgotPasswordLink,
.signUpLink,
.link {
  @include link;
  margin: 0 4px;
}

.button {
  min-width: 140px;
  text-align: center;
}

.message {
  justify-content: center;
  padding-left: 0;
  padding-bottom: 12px;
}

.classNameText {
  margin-right: 0;
  flex: 0 0 auto;
}
