.companiesListWrapper {
  margin: 0 -30px;
}

.companiesListItem {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid $borderGrey;

  &:nth-child(odd) {
    background: $white;
  }
}

.controls {
  display: flex;
  align-items: center;
}

.companyName {
  @include link();
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 300px;
  margin-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.deleteIcon {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 4px;

  svg {
    width: 15px;
    fill: $red;
  }
}

.deleteWrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 6px;
  height: 24px;
  transform: translate(0, 1px);
  color: $red;
  opacity: .7;
  transition: color .15s ease-in-out, opacity .15s ease-in-out;
  margin-left: 6px;

  span {
    text-decoration: underline;
  }

  &:hover {
    opacity: 1;

    span {
      text-decoration: none;
    }
  }
}

.companyDeleteButton {
  margin-bottom: 6px;
}


.usersIcon {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;

  svg {
    width: 15px;
    fill: $linkColor;
    transition: fill .15s ease-in-out;
  }
}

.usersWrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 6px;
  margin-left: 20px;

  &:hover {
    opacity: 1;

    span {
      text-decoration: none;
    }

    svg {
      fill: $maincolor-lt;
    }
  }
}

.openExpireLink,
.usersWrapper {
  @include link();
}

.openExpireLink {
  width: 80px;

  &.expired {
    color: $red;
  }
}

.companyToChangeExpiration {
  height: 480px;
  :global {
    .DayPickerKeyboardShortcuts_show__bottomRight {
      border-right-color: $maincolor-lt;
    }

    .DateInput_input {
      box-sizing: border-box;
    }

    .DateInput_input__focused {
      border-bottom-color: $maincolor-lt;
    }

    .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
      background: $maincolor-lt;
      border: 1px solid $maincolor-lt;
      color: $white;
    }

    .DateInput__small {
      width: 99px;
    }
  }
}

.expirationButtonSave {
  width: 96px;
  margin-left: 12px;
}


@media (max-width: 600px) {
  .companiesListWrapper {
    margin: 0 -15px;
  }

  .companyName {
    width: auto;
    flex: 1;
    font-size: 15px;
    margin-right: 10px;
  }

  .controlName {
    display: none;
  }

  .companiesListItem {
    padding-left: 15px;
    padding-right: 0;
  }

  .usersWrapper {
    margin-left: 2px;
  }

  .controls {
    flex: 0 0 150px;
  }

  .openExpireLink {
    flex: 0 0 80px;
    font-size: 13px;
  }

  .deleteWrapper {
    margin-left: 0;
  }

  .submitWrapper {
    display: flex;
    justify-content: center;
  }
}
