.wrapper {
  font-size: 13px;
  line-height: 18px;

  &.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $white;

    .link {
      @include linkOrange;
      margin: 0 10px;
    }
  }
}

.modalWrapper  {
  line-height: 20px;
}

.copyright {
  margin-bottom: 4px;
  flex: 0 0 185px;
}

.link {
  @include link;
  margin: 0 5px;
}

.linksWrapper {
  display: flex;
  flex-wrap: wrap;

  .link {
    display: block;
    padding: 3px 0;
  }
}

.paymentWrapper {
  line-height: 20px;

  h2 {
    font-size: 24px;
    margin: 12px 0 16px;
  }

  h3 {
    font-size: 18px;
    margin: 0 0 10px;
  }
}

@media (min-width: 1350px) {
  .linksWrapper {
    justify-content: center;
  }
}

@media (max-width: 1350px) {
  .linksWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .link {
      display: block;
      flex: 0 0 calc(33.33% - 10px);
      padding: 3px 0;
      box-sizing: border-box;
    }
  }

}

@media (max-width: 870px) {
  .linksWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;

    .link {
      display: block;
      flex: 0 0 calc(50% - 20px);
      padding: 3px 0;
    }
  }
}

@media (max-width: 720px) {
  .wrapper.footer {
    display: block;
    text-align: center;
  }

  .copyright {
    margin-bottom: 12px;
  }

  .linksWrapper  {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .linksWrapper {
    .link {
      display: block;
      flex: 0 0 100%;
    }
  }
}
