.reviewItem {
  border-bottom: 1px solid $grey-border;
  padding-bottom: 18px;
  margin-bottom: 18px;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.reviewName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  font-weight: 600;
}

.reviewDate {
  flex: 0 0 98px;
  text-align: right;
}

.reviewTextWrapper {
  display: flex;
  font-size: 14px;
  color: $mainText;
  line-height: 20px;
}

.reviewTextContent {
  flex: 1;
  margin-right: 12px;
}

.reviewRate {
  display: flex;
  align-items: center;
}

.reviewRateLabel {
  margin-right: 10px;
}

.reviewTextLabel {
  font-weight: 600;
}

.revieRateNum {
  display: flex;
  width: 110px;
  flex: 0 0 110px;
  margin-right: -8px;
  height: 36px;
  align-items: center;
  justify-content: center;
  color: $white;
  border-radius: 40px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.5px;
  text-shadow: 0 1px 1px $dark-20;
  text-transform: uppercase;

  &.reject {
    background: $redPale;
  }
  &.pause {
    background: $yellow;
  }
  &.hr {
    background: $success;
  }
  &.hm {
    background: $blue-light;
  }
}
