.listHeadline {
  font-size: 18px;
  margin: 0 0 8px;
}

.list {
  margin: 0 -20px;
}

.listWrapper {
  margin-bottom: 30px;
}

.listWrapperItem {
  height: 50px;
  display: flex;
  padding: 0 14px 0 20px;
  align-items: center;

  &:nth-child(odd) {
    background: $body;
  }

  &.isAdmin {
    font-weight: 600;
    background: $yellow;
  }
}

.listItemName {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 16px;
  text-overflow: ellipsis;
}

.dateText {
  display: block;
  font-size: 12px;
  padding-bottom: 4px;
  color: $greyText;
}

.listItemRight {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex: 0 0 220px;
  justify-content: flex-end;
}

.userRole {
  padding-right: 15px;
}

.controlButtonWrapper {
  @include link();
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  padding: 6px;
  transform: translate(0, 1px);
  transition: color .15s ease-in-out, opacity .15s ease-in-out;

  span {
    text-decoration: underline;
  }

  &:hover {
    opacity: 1;

    span {
      text-decoration: none;
    }

    svg {
      fill: $maincolor-lt;
    }
  }

  &.delete {
    opacity: .7;
    color: $red;

    svg {
      fill: $red;
      width: 12px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
.controlButtonIcon {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;

  svg {
    width: 15px;
    fill: $linkColor;
    transition: fill .15s ease-in-out;
  }
}

.noUsers {
  opacity: .7;
}

.link {
  @include link();
  font-size: 13px;
}

.controlWrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .controlName {
    display: none;
  }

  .questionnaireListItem {
    padding-right: 4px;
  }

  .listItemRight {
    flex: 0;
  }
}
