.wrapper {
  :global {
    .ReactTable {
      border: 0;
      font-size: 13px;

      .rt-noData {
        transition: none;
        font-size: 14px;
        background-color: transparent;
      }

      .rt-thead {
        background: $white;
        border-top: 1px solid $grey-border;
        border-bottom: 1px solid $grey-border;
        box-sizing: border-box;
        box-shadow: none;
        position: relative;
        font-weight: 600;
      }

      .rt-thead,
      .rt-tbody {
        padding: 0;
      }

      .rt-tbody {
        padding-top: 0;
      }

      .rt-tr-group {
        margin: 0;

        &:nth-child(even) {
          background: $white;
        }
      }

      .rt-thead .rt-th {
        outline: none;
        border-right: 0;
        text-align: left;
        box-shadow: none;
        display: flex;
        align-items: center;
        height: 47px;
        position: relative;

        &.-cursor-pointer {
          &:after {
            content: '';
            display: block;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJNMTAgMjZINnYtNGg0em0wIDRINnY0aDR6bTAtMTZINnY0aDR6bTAtOEg2djRoNHptMCAzMkg2djRoNHptMi0zMnY0aDMwVjZ6bTAgMzZoMTB2LTRIMTJ6bTAtMjRoMjV2LTRIMTJ6bTAgMTZoMTV2LTRIMTJ6bTAtOGgyMHYtNEgxMnoiIGZpbGw9IiNhYWEiLz48L3N2Zz4=);
            background-repeat: no-repeat;
            width: 11px;
            height: 10px;
            background-size: 11px 10px;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0, -50%) scale(1.8);
          }

          &.-sort-desc {
            &:after {
              background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJNMTAgMjZINnYtNGg0em0wIDRINnY0aDR6bTAtMTZINnY0aDR6bTAtOEg2djRoNHptMCAzMkg2djRoNHptMi0zMnY0aDMwVjZ6bTAgMzZoMTB2LTRIMTJ6bTAtMjRoMjV2LTRIMTJ6bTAgMTZoMTV2LTRIMTJ6bTAtOGgyMHYtNEgxMnoiIGZpbGw9IiMyMTk2ZjMiLz48L3N2Zz4=);
            }
          }

          &.-sort-asc {
            &:after {
              background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJNMTAgMjZINnYtNGg0em0wIDRINnY0aDR6bTAtMTZINnY0aDR6bTAtOEg2djRoNHptMCAzMkg2djRoNHptMi0zMnY0aDMwVjZ6bTAgMzZoMTB2LTRIMTJ6bTAtMjRoMjV2LTRIMTJ6bTAgMTZoMTV2LTRIMTJ6bTAtOGgyMHYtNEgxMnoiIGZpbGw9IiMyMTk2ZjMiLz48L3N2Zz4=);
              transform: translate(0, -50%) rotate(180deg) skew(180deg) scale(1.8);
            }
          }
        }
      }

      .rt-th,
      .rt-td {
        display: flex;
        align-items: center;
        padding: 0 14px;
        height: 47px;
      }

      .rt-body .rt-tr {
        align-items: center;
      }

      .rt-noData {
        top: 75px;
        padding: 0;
      }
    }
  }
}
