.wrapper {
  text-align: center;
  margin: 0 auto;
}

.formStatusWrapper {
  padding: 10px 0 0;
}

.fieldsWrapper {
  margin-bottom: 36px;
}

.formField {
  margin-bottom: 20px;
}

.link {
  display: inline-block;
  @include link;
}

.termsAcceptWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.representatives {
  text-align: left;
  font-size: 13px;
}

.button {
  min-width: 190px;
  text-align: center;
}

.message {
  justify-content: center;
  padding-left: 0;
  padding-bottom: 12px;
}

.classNameText {
  margin-right: 0;
  flex: 0 0 auto;
}
