.wrapper {
  margin: 16px 0;
  padding: 0 !important;
  position: relative;
  width: 72px;
  height: 72px;

  &:hover {
    .label {
      color: $blue !important;
    }
  }
}

.removeText {
  position: absolute;
  right: -70px;
  top: calc(50% - 8px);
  font-weight: 500;
  color: $redPale;
  cursor: pointer;
}

.settingsPicture {
  .input {
    display: none;
  }

  .picture {
    width: 70px;
    height: 70px;
    border: 2px dashed $grey-border;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 100%;
    }
    .pictureHover {
      width: 100%;
      height: 100%;
      background-color: $white;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      opacity: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover .pictureHover {
      opacity: .9;
      overflow: visible;
    }
  }
  p {
    color: $maincolor-lt;
    padding: 0 22px;
  }

  .iconTrash {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $redPale;
    }
  }

  .photoText {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }
}

.label {
  margin: 16px 0;
  padding: 0 !important;
  color: $maincolor-lt !important;
  font-weight: 400;
  transition: color .15s ease-in-out;
}

.upload {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pictureTxt {
  background: $white;
  color: $maincolor-lt;
  font-size: 20px !important;
}

.imagePreview {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.picture {
  border-color: $dark-5 !important;

  &:hover {
    border-color: $noncolor-t6 !important;

    .imagePreview {
      opacity: 0;
    }
  }
}
