.wrapper {
  text-align: center;
  margin: 0 auto;
}

.formStatusWrapper {
  padding: 10px 0 0;
}

.fieldsWrapper {
  margin-bottom: 36px;
}

.formField {
  margin-bottom: 20px;
}

.forgotPasswordWrapper {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
}

.link {
  @include link;
}

.button {
  min-width: 200px;
  text-align: center;
}

.backToLoginWrapper {
  padding-top: 12px;
}

.message {
  justify-content: center;
  padding-left: 0;
  padding-bottom: 12px;
}

.classNameText {
  margin-right: 0;
  flex: 0 0 auto;
}
