.wrapper {
  position: relative;
  background: $white;
  color: $mainText;
  padding: 15px 30px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
  overflow: hidden;
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  background-image: url('images/logo_y.png');
  background-size: 48px 48px;
}

.userDataWrapper {
  margin-left: 12px;
  max-width: calc(100% - 74px);
}

.companyName {
  font-size: 13px;
  padding-top: 6px;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logout {
  @include linkOrange;
  position: relative;
  z-index: 1002;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 12px 15px 10px;
  }
}
