.labelBody {
  display: inline-block;
  position: relative;
  max-width: 100%;
  min-height: 14px;
  padding: 0 10px 0 26px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  transition: font-weight 0.1s ease-in-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    display: block;
    background-color: $white;
    border: 1px solid $noncolor-t13;
    border-radius: 4px;
  }
}

.checkboxLabel {
  display: block;
  text-align: left;
  cursor: pointer;
}

.checkboxInput {
  display: none !important;

  &:checked {
    + .labelBody:before {
      background-position: 2px -87px;
      background-repeat: no-repeat;
      background-color: $maincolor-lt;
      border-width: 0;
      border-radius: 4px;
      padding: 1px 1px 0 1px;
    }

    + .labelBody .checkedIcon {
      display: block;
    }
  }
}

.checkedIcon {
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;

  svg {
    fill: $white;
    width: 12px;
  }
}
